h1{
  font-size: 18px;
  font-style: bold;
  text-align: center;
}
h3{
  font-size: 15px;
  font-family:verdana;
}
h2,h4,h5{
  font-size: 15px;
  font-family: verdana;
 }
li{
  font-size: 10px;
  font-family: arial;
  list-style-type: square;
}
p{
  font-size: 15px;
  font-family: verdana,san-serif;
}
.summary{
  text-decoration: underline;
}
