h1{
  font-size: 22px;
  font-style: bold;
  text-align: center;
}
h2,h4,h5,h3{
  font-size: 20px;
  font-family: verdana;
  text-align: center;
 }
li{
  font-size: 15px;
  font-family: arial;
  list-style-type: square,center;
  text-align: center;
}
p{
  font-size: 15px;
  font-family: san-serif;
  text-align: center;
}
.summary{
  text-decoration: underline;
}
