h1{
  font-size: 22px;
  font-style: bold;
  text-align: center;
}

 }
li{
  font-size: 15px;
  font-family: arial;
  list-style-type: square,center;
}

ul{
  font size: 15px;
}
p{
  font-size: 15px;
  font-family: san-serif;
  text-align: center;
}

body{
  background-color: #dcdcdc
  color: #000000
  font-family: verdana, sans-serif
  Margin: 15% 30%;
}

.exp-header {
  text-align: center;
  text-transform: uppercase;
  border-top: 2px solid #000000;
  border-bottom: 2px solid #000000  
}

.img src{
  height: 200px;
  width: 200px;
  
}
